<li id="comment-<%=comment.id%>">
    <div id="first">

        <div id="photo">
            <img src="<%= comment.user.avatar %>" alt="">
        </div>


        <div id="content">
            <small>
                <%= comment.user.name %>
            </small>
                <%= comment.content %>
        </div>

    </div>
    <div id="button">

        <div id="love" style="margin-top: 10px;">
            <% if(locals.user) {%>
                <a class="toggle-like-button" data-likes="<%=comment.likes.length %>"
                    href="/like/toggle/?id=<%=comment._id%>&type=Comment">

                            <span style="color: black;">
                                <i class="fa-solid fa-thumbs-up fa-1x"></i>
                            </span>

                                <%=comment.likes.length%> Likes
                </a>
                <%}else{%>
                    <%=comment.likes.length%> Likes
                        <%}%>
        </div>

        <div id="delete">
            <%if(locals.user && user.id==comment.user._id){%>
                <a class="comment-delete-button" style="color: red; text-decoration: none;"
                    href="/comment/destroy-comment/<%=comment.id%>">
                    <i class="fa-solid fa-trash"></i>
                </a>
                <%}%>
        </div>
    </div>
</li>