<li id="comment-<%=comment.id%>">
    <p>
        <%if(locals.user && user.id==comment.user._id){%>
            <a class="comment-delete-button" href="/comment/destroy-comment/<%=comment.id%>">
                Delete
            </a>
        <%}%>

        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %> 
        </small>

        <small>
            <% if(locals.user) {%>
                <a class="toggle-like-button" data-likes="<%=comment.likes.length %>" href="/like/toggle/?id=<%=comment._id%>&type=Comment">
                    <%=comment.likes.length%> Likes
                </a>
            <%}else{%>
                <%=comment.likes.length%> Likes
            <%}%>
        </small>

    </p>
</li>
