<li id="post-<%= post._id %>">
    <p class="post-box">
        <% if(locals.user && post.user.id == user.id){%>
            <a class="delete-button" href="/post/destroy/<%=post.id%>">
                Delete
            </a>
        <%}%>
        <%= post.content %>
        <br>
        <small>
            <%= post.user.name %>
        </small>

        <small>
            <% if(locals.user) {%>
                <a class="toggle-like-button" data-likes="<%=post.likes.length %>" href="/like/toggle/?id=<%=post._id%>&type=Post">
                    <%=post.likes.length%> Likes
                </a>
            <%}else{%>
                <%=post.likes.length %> Likes
            <%}%>
        </small>
    </p>

    <div class="post-comments">
        <% if (locals.user){ %>
            <form id="comment-form-<%=post._id%>" action="/comment/create-comment" method="post">
                <input type="text" name="content" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <input type="submit" value="Add Comment">
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>
                    <%- include('_comment') -%>
                <%} %>
            </ul>
        </div>
    </div>
    
</li>