<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chatting_engine.css">

<h1 id="heading">Codeial/<%=title%>
</h1>

<div id="user-container">

    <section id="feed-posts">
        <%if(locals.user){%>
            <h4>Posts</h4>
            <form action="/post/create-post" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
                <input type="submit" value="Post">
            </form>
            <%}%>


                <section id="posts-list-container">
                    <ul>
                        <% for(post of posts){ %>

                            <%-include('_post.ejs')-%>

                                <%} %>
                    </ul>
                </section>


    </section>

    <aside>
        <section id="friend_list">
            <h4>Friends</h4>
            <%if(locals.user){%>
                <ul>
                    <%for(friend of friends){%>
                        <%if(friend.from_user==user.id){%>
                            <li>
                                <p>
                                    <%= friend.to_user.name %>
                                </p>
                            </li>

                            <small>
                                <a href="/friendship/toggle/?id=<%=friend.to_user._id%>" class="toggle-friend">
                                    Remove
                                </a>
                            </small>
                            <%}%>
                                <%}%>
                </ul>
                <%}%>
        </section>

        <section id="user_list">
            <h4>Users</h4>
            <ul>
                <%for(u of all_user){%>
                    <%if(locals.user){%>
                        <%if(locals.user.name!=u.name){%>
                            <li>
                                <a href="/user/profile/<%=u.id%>">
                                    <%=u.name%>
                                </a>
                            </li>
                            <%}%>
                                <%}else{%>
                                    <li>
                                        <a href="/user/profile/<%=u.id%>">
                                            <%=u.name%>
                                        </a>
                                    </li>
                                    <%}%>

                                        <%}%>
            </ul>
        </section>

    </aside>

    <%if(locals.user){%>
        <section id="chatting-engine">
            <ul id="chat">
                <li class="other-message">
                    <p></p>
                </li>
                <li class="self-message">
                    <p></p>
                </li>
            </ul>
            <div id="message">
                <form action="" method="post" id="chatting-form">
                    <input type="text" name="" id="chat-message-input" placeholder="Type your message">
                    <input type="button" value="Send" id="send-btu">
                </form>
            </div>
        </section>
        <%}%>
</div>


<script src="/js/home_comment.js"></script>
<script src="/js/home_post.js"></script>

<script src="js/home_like.js"></script>
<script>
    $(' .toggle-like-button').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<%if(locals.user){%>
    <script>
        new ChatEngine('chatting-engine', '<%= locals.user.email %>');

        setInterval(function () {
            var scrollbar = document.querySelector('#chat');
            scrollbar.scrollTop = scrollbar.scrollHeight - scrollbar.clientHeight;
        },1);

    </script>
    <%}%>