<div>

    <h1>User <%=title%>
    </h1>

    <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">

    <%if(profile_user.id==user.id){%>
        <form action="/user/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" id="user_name" value="<%=profile_user.name%>" required>
            <input type="text" name="email" id="email_name" value="<%=profile_user.email%>" required>
            <input type="file" name="avatar" placeholder="Profile Picture">
            <input type="submit" value="Confirm">
        </form>
    <%}else{%>
        <p>
            <%= profile_user.email%>
        </p>
        <p>
            <%= profile_user.name%>
        </p>
    <%}%>

    <%if(profile_user.id!=user.id){%>
        <small>
            <a href="/friendship/toggle?id=<%=profile_user.id%>"  id="toggle-friend-button">
                <%if(have){%>
                    Remove
                <%}else{%>
                    Add
                <%}%>
            </a>
        </small>
    <%}%>

</div>

<script src="/js/profile_friend.js"></script>